<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vandanam Villas - @ViewBag.Title</title>

    @Styles.Render("~/Content/vcss")
    




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.min.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="preloader"></div>
    <header class="header transp sticky">
        <!-- available class for header: .sticky .center-content .transp -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/images/logo.png" alt="logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="@ViewBag.classHName" ><a href="~/">Home</a></li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="404.html">404 Error</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="about2.html">About Us 2</a></li>
                                <li><a href="booking-system.html">Booking System</a></li>
                                <li><a href="fullwidth.html">Fullwidth Page</a></li>
                                <li><a href="right-sidebar.html">Right Sidebar Page</a></li>
                                <li><a href="left-sidebar.html">Left Sidebar Page</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="gallery-col-3.html">Gallery 3 Columns</a></li>
                                <li><a href="blog-single.html">Blog Single Post</a></li>
                            </ul>
                        </li>*@
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rooms <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="rooms-col-1.html">1 Column</a></li>
                                <li><a href="rooms-col-2.html">2 Column</a></li>
                                <li><a href="rooms-col-3.html">3 Column</a></li>
                                <li><a href="rooms-col-4.html">4 Column</a></li>
                                <li><a href="rooms-single.html">Single Room</a></li>
                            </ul>
                        </li>*@
                        <li class="@ViewBag.classBGName"><a href="~/blog">Blog</a></li>
                        <li class="@ViewBag.classGName"><a href="~/gallery">Gallery</a></li>
                        <li class="@ViewBag.classBKName"><a href="~/booking">Booking</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                @*<div class="mg-search-box-cont pull-right">
                    <a href="#" class="mg-search-box-trigger"><i class="fa fa-search"></i></a>
                    <div class="mg-search-box">
                        <form>
                            <input type="text" name="s" class="form-control" placeholder="Type Keyword...">
                            <button type="submit" class="btn btn-main"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>*@
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    @RenderBody()

    <footer class="mg-footer">
        <div class="mg-footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Contact US</h2>
                            <address>
                                <strong>Vandanam Villa</strong><br>
                                Plot No-100/7, Iringapuram Village,<br>
                                Chavakkad Taluk, Thrissur District,
                                Kerala - 680103
                            </address>

                            <p>
                                +91 9899156706@*<br>*@
                                
                            </p>

                            <p>
                                <a href="mailto:info@vandanamvillas.in">info@vandanamvillas.in</a>
                            </p>
                        </div>
                    </div>
                    @*<div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Instagram</h2>
                            <ul class="mg-instagram">
                                <li><a href="#"><img src="~/images/ins-01.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-02.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-03.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-04.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-05.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-06.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-07.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-08.png" alt=""></a></li>
                                <li><a href="#"><img src="~/images/ins-09.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>*@
                    @*<div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Newsletter</h2>
                            <p>Inbecilloque elegans errorem concedo coniuncta arare dicant etsi electram minimum.</p>
                            <form>
                                <p>
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </p>
                                <input type="submit" class="btn btn-main" value="Subscribe">
                            </form>
                        </div>
                    </div>*@
                    <div class="col-md-6 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Social Media</h2>
                            <p>Tibi alienus possimus nomini legendus pariatur, logikh assidua philosophis expectat occultarum accedit suscipit interrogari difficilius reddidisti.</p>
                            <ul class="mg-footer-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mg-copyright">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <ul class="mg-footer-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/booking">Booking</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>&copy; 2015 <a href="http://www.cantothemes.com">CantoThemes</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    
    @Scripts.Render("~/bundles/vvcommon")

   

    <script>

        //$body = $("body");
        //hi abhilash

        $(document).on({
            ajaxStart: function () { $(".myloader").show(); },
            ajaxStop: function () { $(".myloader").hide(); }
        });
    </script>

   @RenderSection("scripts", required: false)
    
</body>
</html>